.Main {
	gap: 2rem;
	margin:auto;
    margin-top: 3rem;
	margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 1.5rem;
	width: 50%;
	max-height: 100%;
	border: 3px solid rgba(25, 8, 8, 0.722);
	border-radius: 2rem;
	box-shadow: 0 0 0 2px rgba(136, 47, 47, 0.245);
	color: var(--vanilla);
	background-image: url('../public/img/background.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 


}
